body {
    background: url("../images/background.jpg") fixed no-repeat;
    background-position: center;
    margin: 0;
    padding-top: 40px;
}

.top {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 70, 255, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;

}

.header {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.2);
}

.myContainer {
    width: 75%;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
    background: url("../images/line.png") repeat-y;
    background-size: 3px;
    background-position: 15%;
    overflow: hidden;
}

.scrubberFirst {
    position: absolute;
    top: 60px;
}

.scrubber a {
    height: 26px;line-height: 26px;
    padding-right: 5px;font-size: 12px;
    color: #a5a5a5;
    text-decoration: none; 
    display: block;
    border-right:2px solid;
    border-right-color: rgba(232, 173, 0, 0.3);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-align: right;
}

.item {
    position: relative;
    background-color: white;
    width: 35%;
    margin: 50px 0 0 0;
    border-radius: 5px;
}

.dateOfEvent a {
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 2px;
}

.yearA, .monthA, .dayA {
    margin-left: 15px;
    display: inline-block;
    position: relative;
}

span.dateSelected {
    color: white;
}


.dateOfEvent {
    background-color: rgba(17,209,255, 0.8);
    margin-right: 350px;
    position: relative;
    width: 397px;
}

.addItem a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item.leftItem {
    min-height: 400px;
    float: left;
    margin-left: 20%;
}

.item.rightItem.firstItem {
    margin-top: 100px;
}

.item.leftItem.firstItem {
    margin-top: 100px;
}

.item.rightItem {
    min-height: 400px;
    float: right;
    margin-left: 10%;
}

.addItem {
    margin-top: 20px;
    overflow: hidden;
}

.addText {
    float: right;
    height: 100px;
    width: 80%;
    margin-right: 2%;
    border: 2px solid #888;
    overflow-y: auto;
}

.addFile {
    float: left;
    width: 90px;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px dashed gray;
    text-align: center;
}

.submitBt button {
    float: right;
    margin:5px 20px 100px 0;
}

.submitBt {
    display: inline;
}

.yourself {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
}

.addPeople {
    float: left;
    clear: both;
    margin-top: 5px;
    margin-left: 1%;
}

.yearList span, .monthList span, .dayList span {
    font-size: 10px;
    display: block;
}

.yearList span:hover, .monthList span:hover, .dayList span:hover {
    background-color: rgba(17,209,255, 0.8);
}

.yearList, .monthList, .dayList {
    position: absolute;
    width: 85px;
    overflow-y: auto;
    height: 100px;
    background-color: white;
    text-align: left;
    border: 1px solid gray;
    border-top-width: 0px;
    z-index: 999;
}

.yearList {
}

.monthList {
}

.dayList {
}

@media screen and (max-width:960px) {
.addText {
    width: 90%;
    margin: auto;
    height: 95px;
    float: none;
}

.item.topItem {
    height: 220px;
}

.addFile {
    border-width: 0px;
}

.addItem {
    margin-top: 7px;
}

.addItem a {
    display:  inline;
}

.addFile {
    clear: both;
    width: 100%;
}

}

.glyphicon-film {
    border-bottom: 2px dashed gray;
}

.glyphicon-plus-sign {
    border: 2px dashed gray;
    padding: 6px;
}

.triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: dashed;
    border-width: 10px;
    border-color: transparent white transparent transparent;
    left: -18px;
    top:15px;
}

.topItem .triangle.bigTriangle {
    border-color: transparent white transparent transparent;
    border-width: 17px;
    left: 364px;
    top: 1px;
}

.topItem .triangle {
    border-color: transparent rgba(17,209,255, 1) transparent transparent;
    left: -20px;
    top:10px;
}

.innerDot {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(119, 12, 255, 0.8);
    margin: auto;
    margin-top: 2px;
    left: 2px;
}

.outerDot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    background-color: white;
}

.leftItem.outerDot {
    top: 19px;
    left: -15.5%;
}

.rightItem.outerDot {
    top: 19px;
    left: -144.3%;
}

.textPart {
    margin: 4% 0 0 4%;
}

.chineseDate {
    float: left;
    width: 13%;
    min-height: 30px;
    background-color: rgba(17,209,255, 0.8);
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    overflow: hidden;
}

.englishDate {
    width: 80%;
    float: right;
    font-size: 2.5rem;
    text-align: left;
    color: #888;
}

.date {
    overflow: hidden;
}


.glyphicon-heart {
    color: rgba(255, 65,44, 1);
}

.glyphicon-globe {
    color: rgba(7,127,255, 1);
}

.glyphicon-user {
    color: rgba(255,131,59,1);
}

.person, .spot, .helper {
    float: left;
    margin: 10px 20px 1px 2px;
}

.description {
    color: #888;
    margin-top: 10px;
    margin-bottom: 5px;
}

.event {
    overflow:  hidden;
}

img {
    width: 100%;
    height: 250px;
}

.extra {
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid gray;
    margin-bottom: 5px;
}

.zan, .comment {
    float: left;
    margin-left: 40px;
    color: gray;
}

span {
    color: gray;
}

.item.topItem {
    float: left;
    margin-left: 20%;
    margin-top: 40px;
    width: 80%;
    height: 200px;
}

.topItem.outerDot {
    position: absolute;
    top: 15px;
    left: -6.8%;
}

div.form-inline {
    width: 60%;
    background-color: blue;
}

.timeline.year_select {

}

 .glyphicon-triangle-bottom {
    font-size: 15px;
    color: rgba(0, 129, 255, 1);
 }

@media screen and (max-width:640px) {

.item.leftItem {
    clear: both;
    margin-left: 20%;
}


.item.rightItem {
    clear: both;
    margin-left: 10%;
}

.item {
    width: 80%;
}

.leftItem.outerDot {
    left: -7.5%;
}

.rightItem.outerDot {
    left: -7.5%;
}

.topItem.outerDot {
    position: absolute;
    top: 8px;
    left: -7%;
}

.item.rightItem.firstItem {
    margin-top: 50px;
}

.item.leftItem.firstItem {
    margin-top: 50px;
}

.scrubber {
    left: 0px;
}

.header {
    display: none;
}

.myContainer {
    width: 90%;
}

.dateOfEvent a {
    font-size: 18px;
}

.yearA, .monthA, .dayA {
    margin-left: 2px;
}

.topItem .triangle {
    border-color: transparent rgba(17,209,255, 1) transparent transparent;
    left: -20px;
    top:3px;
}

}
